.sideNav_container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(250px - 40px);
  height: calc(100vh - 40px);
  border-right: 1px solid lightgray;
  border-radius: 0 2px 2px 0;
  padding: 20px;

  h2 {
    font-family: monospace;
    padding: 20px 0;
  }

  ul {
    list-style: none;
    padding: 10px 0;
    li {
      padding: 20px 0;
      font-size: 16px;
      display: flex;
      align-items: center;
      font-weight: 450;
      cursor: pointer;
      a {
        font-size: 16px;
        display: flex;
        align-items: center;
        font-weight: 450;
      }
      svg {
        padding-right: 15px;
      }
      img {
        margin-right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  button {
    position: fixed;
    border: none;
    background-color: transparent;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    svg {
      margin-right: 20px;
    }
  }
}
